<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ideality">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.telephony"
        android:required="false" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ideality_icon_light"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ideality_icon_light_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CartActivity"
            android:exported="false" />
        <activity
            android:name=".activities.PhoneVerifiedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".activities.AddEditAddressActivity"
            android:exported="false" />
        <activity
            android:name=".activities.TransactionDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.CategoryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SavedAddressesActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VerifyPhoneActivity"
            android:exported="false" />

        <activity
            android:name=".activities.VerifyCurrentEmailActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="${applicationId}.firebaseapp.com" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.VerifyEmailUpdateActivity"
            android:exported="false" /> <!-- Add FileProvider for camera functionality -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider> <!-- Make SplashScreen the launcher activity -->
        <activity
            android:name=".activities.SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.Design.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Add the new activities -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".activities.EditProfileActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ARViewerActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditEmailActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.EmailVerifiedUpdateActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ChangePasswordActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".activities.EditPhoneActivity"
            android:exported="false"
            android:theme="@style/AppTheme" /> <!-- Your existing activities -->
        <activity
            android:name=".activities.PrivacyPolicyActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TermsConditionsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.FaqActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ContactUsActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.Home"
            android:exported="false" />
        <activity
            android:name=".activities.LottieEmailVerifiedActivity"
            android:exported="false" />
        <activity
            android:name=".activities.VerifyEmailActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUp"
            android:exported="true" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="required"
            tools:replace="android:value" />
    </application>

</manifest>